# Credits: https://jasonstitt.com/gitignore-whitelisting-patterns
# Blacklist everything in this directory
*

# Whitelist content of folders, to be specified in the next whitelisting
!*/

# Whitelisting files
!.bashrc
!.gitignore
!/.newsboat/config
!/.newsboat/*urls
!/.newsboat/*cache.db
!README.md
!.Rprofile
!.tmux.conf
!.tmux.tty.conf
!.tmux.xorg.conf
!.vimrc
!/.w3m/config
!/.w3m/keymap
!.xinitrc
!.Xresources

# Whitelisting folders
!/bin/**
!/.gnupg/**
!.irssi/**
!/.pandoc/**
!/.vim/after/**
!/.vim/ftdetect/**
!/.vim/skeleton/**
!/.vim/view/**

# Whitelisting sub in .config folder
!/.config/**/**

# Blacklist unnecessary files
.config/chromium
.local
R
.vim/plugged
.config/i3/start.log
