# Credits: https://jasonstitt.com/gitignore-whitelisting-patterns
# Blacklist everything in this directory
*

# Whitelist content of folders, to be specified in the next whitelisting
!*/

# Whitelisting files
!.bashrc
!.gitignore
!README.md
!/.newsboat/config
!/.newsboat/urls
!.tmux.conf
!.vimrc
!/.w3m/config
!/.w3m/keymap

# Whitelisting folders
!/bin/**

# Whitelisting sub in .config folder
!/.config/mp*./**
!/.config/n*/**
!/.config/ranger/*.py
!/.config/ranger/*.conf

# Blacklist unnecessary files
.config/chromium
.local
R
.vim/plugged
.config/i3/start.log
