* {
	background-color: #1d2021 !important;
	color: #ebdbb2 !important;
}

::after,::before {
	background-color: #1d2021 !important;
	background-image: none !important;
}

h1,h2,h3,h4,h5,h6 {
	color: #b8bb26 !important;
}

a {
	color: #458588 !important;
}
