/* Lamurian */

.bg-gray,.bg-gray-light {
	background-color: #1d2021 !important;
	color: #ebdbb2 !important;
  border: none !important;
}

.table,.intro,.card {
  background-color: #282828 !important;
  color: #ebdbb2 !important;
	background-image: none !important;
}

.row,.toolbarLabel,.secondaryToolbar,.toolbar,.toolbarButton,::after,::before {
	background-color: #1d2021 !important;
	background-image: none !important;
}

h1,h2,h3,h4,h5,h6 {
	color: #689d6a !important;
}

a {
	color: #458588 !important;
}

/* google and github */
.tfB0Bf input[type="submit"], .btn {
  background-image: none;
}

/* */

.fa,.header,.container,.breadcrumb,.sectionname,.main,.navbar,.navbar-toggler,.MathJax_SVG,.home-page,.bg-gray,.bg-gray-light {
	background-color: #1d2021 !important;
	color: #ebdbb2 !important;
  border: none !important;
}

.form-control,.textLayer,.col-3,.block,.col-9,.topics,.activity-wrapper,.section,.actions,.navbar-collapse,.content {
  background-color: #282828 !important;
  color: #ebdbb2 !important;
	background-image: none !important;
}

